ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(94, 75, 75);
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 500px;
}
ul li{
    
}
ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900px;

}
ul li a:hover:not(.active){
    background-color: rgb(92, 0, 0);
}
.active{
    background-color: rgb(128, 116, 103);
 
}
body{height: 100%;}