.class{ 
    color: aqua;
    letter-spacing: 50px;
    text-decoration: underline;
    text-align: right;
    font-size: 50px;
 font-family:"body-text"
}
.shkolla{
color: bisque;
letter-spacing: 30px;
word-spacing:10px;
text-decoration: underline;
text-align: right;
font-size: 50px;
font-family:"body-text"

}